workflow/form-email-automation/form-email-automation.json.json
{
  "name": "1. N8N test",
  "nodes": [
    {
      "parameters": {
        "formTitle": "contact us",
        "formDescription": "We'll get back to you shortly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your email?",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "What can we help you with?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -560,
        -112
      ],
      "id": "44c97098-cc82-4c28-8438-f58846dcd402",
      "name": "On form submission",
      "webhookId": "1f612c83-9e43-4eb8-911a-8fe5a6d0cb0c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae0a3df-d60a-4560-96c0-c6e2b7312a51",
              "name": "email_reply",
              "value": "=Hello {{ $json.Name }},  \n\n    Thank you for reaching out! I really appreciate your message: \n\"{{ $json.Message }}\" \n\nOur team has received your request and will get back to you shortly.  \n\nBest regards,   \nSupport Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        64
      ],
      "id": "cac333e2-43b9-435d-98a3-59c37d7ce230",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "Thanks For Contacting US!",
        "emailType": "text",
        "message": "={{ $json.email_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -64
      ],
      "id": "f58ca43b-33fd-404e-bf34-1d00a8122b20",
      "name": "Send a message",
      "webhookId": "ff57f751-24e2-481c-9943-114b3a9b8d82",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2qZ4Mz7DiMLpJpj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1H2q1oiuAo0CxbxlXQyq7BY5wKQbXWMxBJmGy9Frdlxg/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H2q1oiuAo0CxbxlXQyq7BY5wKQbXWMxBJmGy9Frdlxg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['What is your name?'] }}",
            "Email": "={{ $json['What is your email?'] }}",
            "Message": "={{ $json['What can we help you with?'] }}",
            "SubmittedAt": "={{ $json.submittedAt }}",
            "FormMode": "={{ $json.formMode }}",
            "Status": "pending",
            "ID": "={{ $now.toMillis() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SubmittedAt",
              "displayName": "SubmittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FormMode",
              "displayName": "FormMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        64
      ],
      "id": "fb6afd98-5c38-4e87-beae-750fa1fff9ef",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3EKUTcp8mm1qD0H0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1H2q1oiuAo0CxbxlXQyq7BY5wKQbXWMxBJmGy9Frdlxg",
          "mode": "list",
          "cachedResultName": "Form Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H2q1oiuAo0CxbxlXQyq7BY5wKQbXWMxBJmGy9Frdlxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H2q1oiuAo0CxbxlXQyq7BY5wKQbXWMxBJmGy9Frdlxg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "sent",
            "ID": "={{ $('If').item.json.ID }}",
            "row_number": 0
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SubmittedAt",
              "displayName": "SubmittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FormMode",
              "displayName": "FormMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        32
      ],
      "id": "df68e74b-9d60-4a94-84bf-fb96afafcb33",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3EKUTcp8mm1qD0H0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6270fb54-38b0-41e6-889e-22011b089856",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -112
      ],
      "id": "d82e471c-7198-4a7a-b4ba-71a81b16bcc2",
      "name": "If"
    },
    {
      "parameters": {
        "content": "WORKFLOW: FORM → EMAIL AUTOMATION\n\nPurpose:\nReceive form submissions, store them in Google Sheets, send an email, and mark the submission as completed.\n\nProcess:\n\n1. Form Submission\n\n   * User submits the form.\n   * Name, Email, and Message are collected.\n\n2. Append Row in Sheet\n\n   * Store submission in Google Sheets.\n   * Status is set to \"pending\".\n\n3. IF Node\n\n   * Check if Status = pending.\n   * True → Continue workflow.\n   * False → Stop workflow.\n\n4. Edit Fields\n\n   * Prepare email variables.\n   * Format Name, Email, Subject, and Message.\n\n5. Gmail\n\n   * Send email to the submitted email address.\n\n6. Update Row in Sheet\n\n   * Update Status from \"pending\" to \"sent\".\n   * Prevent duplicate processing.\n\nExpected Result:\n\n* Every submission is saved.\n* One email is sent per submission.\n* Sheet records whether email was sent successfully.\n\nFuture Improvements:\n\n* Add SentAt timestamp.\n* Add Failed status for email errors.\n* Add retry workflow for failed emails.\n* Add admin notification email.\n",
        "height": 784,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -352
      ],
      "typeVersion": 1,
      "id": "0bbde23e-fa6f-4336-90ac-bde26d6cfc09",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d894c29f-8d0d-4752-acb4-adc2e34985c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7d89e73d2424fbad0b7c322fc21754a179b9e1a99cd27138b0dd62902e12631"
  },
  "id": "HbaDWpxiyxLhdFVD",
  "tags": []
}